<div class="reward">
	<h3>Reward name: <%= reward.reward_name %></h3>
	<p>Tier Value: $<%= reward.tier_value %></p>
	<p>Description: <%= reward.description %></p>
	<%= render partial: 'pledges/form', locals: {reward: reward} %>
</div>