/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */

 // "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"

@import "bootstrap-sprockets";
@import "bootstrap";

body {
	background-color: #FDFCFD;
	font-family: 'Open Sans', sans-serif;
}

.project{
	float: left;
	width: 30%;
	padding: 5% 2% 5% 2%;
	border: 1px solid #D2D3E3;
	margin: 1.5%;
}

.projects{
	width: 100%;
	margin: auto;
	text-align: center;
}

.project-img{
	padding-bottom: 5%;
}

.project-description{
	font-style: italic;
}

.content {
	margin-top: 12rem;
	color: #4E4E4A;
	padding: 3%;
}

.navbar {
	background-color: #F57173;
	padding: 1%;
}

.navbar-menu {
	text-align: right;
	// float: right;
	// padding-top: 3%;
	padding-right: 3%;

}

.user-profile {
	padding: 3%;
}

.new-project{
	padding: 3%;
}

#scholar_logo {
	font-color: #5A5EE7;
	font-family: 'Pacifico', cursive;

	text-align: center;

	a {
		text-decoration: none;
	}
}

#right-menu{
	color: #D2D3E3;
}

#new_project {
}

.labels {
	float: left;
}

.inputs {
	float: left;
	padding-left: 3%;
}

.submit {
	clear: both;
}

.flashes {
	text-align: center;
}

.show-left {
	float: left;
	width: 60%;
	padding: 0% 1% 0% 1%;
}

.show-right {
	float: left;
	width: 35%;
	padding: 2%;
	border: 2px solid pink;
}

#funded {
	font-size: 26px;
	color: blue;
	font-weight: bold;
}


