/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */

 // "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";


body {
	background-color: #FDFCFD;
}

.content {
	text-align: center;
	margin-top: 100px;
}

.navbar {
	background-color: #F57173;
}

.navbar-menu {
	text-align: right;
	float: right;
	padding-top: 3%;
	padding-right: 3%;

}

#scholar_logo {
	color: #5A5EE7;
	font-family: 'Pacifico', cursive;
	float: left;
	text-align: center;

	a {
		text-decoration: none;
	}
}