// Place all the styles related to the projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.show-left {
	float: left;
	width: 55%
}

.show-right {
	float: left;
	width: 40%
}

#funded {
	font-size: 26px;
	color: blue;
	font-weight: bold;
}