<%= form_for [@project, @review], :remote => true do |f| %>
	<div id="review-errors">
		<%= render partial: "reviews/review_form_errors", locals: {review: @review} %>
	</div>
	<div class="field">
		<p> <%= f.text_area :comment %> </p>
	</div>
	<div class="actions">
		<%= f.submit('Create Comment') %>
	</div>
<% end %>